<h1>Blog</h1>

<div class="front-square">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{blog.title}}</h3>
      <h4 class="date-text">{{blog.date}}</h4>
    </div>
    <div class="panel-body">
      <p class="body-text">{{blog.body}}
      </p>
    </div>
  </div>
</div>

<h1>Comment</h1>

{{#each blog.comments}}
<div class="front-square">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{date}}</h3>
    </div>
    <div class="panel-body">
      <p> &nbsp Comment : {{body}} </p>
    </div>
  </div>
</div>
{{/each}}




<form>

<div class="front-square">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">&nbsp</h3>
    </div>
    <div class="panel-body">
      <label class="label"> &nbsp Comment : </label>
     <form>
          <div class="input-group">
               <textarea id="textarea" class="form-control blog-input" rows="4" cols="50" /></textarea>
          </div>
          <button id="comment-but" class="input-group">Create</button>
     </form>
                     
    </div>
  </div>
</div>
  {{!-- Passing blog id --}}
<input type="hidden" id="blog-id" name="blog-id" value="{{blog.id}}" />
</form>

<script src="/js/blog.js"></script>